app:
  title: Infrastructure AI Platform
  baseUrl: http://localhost:3000

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      database: ${POSTGRES_DB}

catalog:
  rules:
    - allow: [Template, Component, System, API, Resource, Location, User, Group]
  locations:
    # Catálogo principal - esto cargará automáticamente los targets definidos
    - type: url
      target: https://github.com/giovanemere/demo-infra-ai-agent-template-idp/blob/main/catalog-info.yaml

auth:
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true

scaffolder:
  defaultAuthor:
    name: AI Platform
    email: ai@platform.com

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}
